<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <section class="todoapp" v-cloak>
        <div>
            <header class="header">
                <h1>todos</h1>
                <input class="new-todo" placeholder="请输入内容" v-model="todoVal" @keyup.enter="handleAdd" />
            </header>
            <section class="main">
                <input class="toggle-all" type="checkbox" v-model="isCheckedAll" />
                <ul class="todo-list">
                    <li v-for="(item,index) of filterTaskList" :key="item.id" :class="{completed : item.checked, editing : index === editIndex}">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="item.checked" />
                            <label @dblclick="handleEdit(index)">{{item.title}}</label>
                            <button class="destroy" @click="handleDelete(item)"></button>
                        </div>
                        <input ref="editInp" class="edit" 
                            v-model="item.title" 
                            @keyup.enter="doneEdit($event, item)"
                            @blur="doneEdit($event, item)"
                            @keyup.esc="cancelEdit(item)"
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer" v-if="taskList.length">
                <span class="todo-count">
                <strong>{{unCheckedLen}}</strong>
                <span>条未选中</span>
                </span>
                <ul class="filters">
                    <li><a href="#/all" :class="{selected : nowHash === 'all'}">All</a></li>
                    <li><a href="#/active" :class="{selected : nowHash === 'active'}">Active</a></li>
                    <li><a href="#/completed" :class="{selected : nowHash === 'completed'}">Completed</a></li>
                </ul>
            </footer>
        </div>
    </section>
</body>
<script src="../js/vue.js"></script>
<script>
    let vm = new Vue({
        el: '.todoapp',
        data() {
            return {
                todoVal: '',
                editIndex: -1,
                beforeEdit : '',
                nowHash : 'all',
                taskList: [{
                    id: Date.now() + Math.random(),
                    title: '假任务1',
                    checked: false
                }, {
                    id: Date.now() + Math.random(),
                    title: '假任务2',
                    checked: false
                },{
                    id: Date.now() + Math.random(),
                    title: '假任务3',
                    checked: false
                }, {
                    id: Date.now() + Math.random(),
                    title: '假任务4',
                    checked: false
                }]
            }
        },
        methods: {
            handleAdd() { //新增任务
                if (this.todoVal === '') {
                    alert('请输入内容后添加！');
                    return;
                }
                this.taskList.push({
                    title: this.todoVal,
                    id: Date.now() + Math.random(),
                    checked: false
                })
                this.todoVal = '';
            },
            handleDelete(item) { //删除任务
                console.log(this.filterTaskList);
                this.filterTaskList.splice(index, 1);
            },
            handleEdit(index) { //开启编辑
                this.beforeEdit = this.taskList[index].title;
                this.editIndex = index;
                this.$nextTick(() => {
                    this.$refs['editInp'][index].focus();
                })
            },
            doneEdit(e, item){ //编辑完成
                if( e.type === 'keyup' ){
                    e.target.blur();
                    return;
                }
                if( item.title === '' ){
                    let posIndex = this.taskList.findIndex( option => option === item );
                    this.handleDelete(posIndex);
                }
                this.editIndex = -1;
            },
            cancelEdit(item){
                item.title = this.beforeEdit;
                this.editIndex = -1;
            }
        },
        computed: {
            isCheckedAll: {
                get() {
                    return this.taskList.every(item => item.checked)
                },
                set(newValue) {
                    this.taskList.forEach(item => {
                        item.checked = newValue;
                    })
                }
            },
            unCheckedLen() {
                return this.taskList.filter(item => !item.checked).length;
            },
            filterTaskList(){
                switch (this.nowHash){
                    case 'all' : 
                        return this.taskList;
                    case 'active' : 
                        return this.taskList.filter( item => !item.checked );
                    case 'completed' : 
                        return this.taskList.filter( item => item.checked );
                }
            }
        }
    });

    let hashObj = {
        all : true,
        active : true,
        completed : true
    }

    window.onhashchange = function(){
        let hash = window.location.hash.substring(2);

        hash = hashObj[hash] ? hash : 'all';

        vm.nowHash = hash;
    }
</script>


</html>