<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <section class="todoapp" id="app" v-cloak>
        <div>
            <header class="header">
                <h1>todos</h1>
                <input class="new-todo" placeholder="请输入内容" v-model="todoVal" @keyup.enter="addTodo" />
            </header>
            <section class="main" v-if="taskList.length">
                <input class="toggle-all" type="checkbox" v-model="isCheckedAll" />
                <ul class="todo-list">
                    <li :class="{completed : item.checked, editing : index === editIndex }" v-for="item,index of taskList">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="item.checked" />
                            <label @dblclick="editTodo(index)">{{item.title}}</label>
                            <button class="destroy" @click="deleteTodo(index)"></button>
                        </div>
                        <input ref="editInp" class="edit" 
                            v-model="item.title" 
                            @keyup.enter="editDone(item)" 
                            @blur="editDone(item)" 
                            @keyup.esc="handleEscTodo(item)" 
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer" v-if="taskList.length">
                <span class="todo-count">
                <strong>{{unCheckedLen}}</strong>
                <span>条未选中</span>
                </span>
                <ul class="filters">
                    <li><a href="#/all" class="selected">All</a></li>
                    <li><a href="#/active" class="">Active</a></li>
                    <li><a href="#/completed" class="">Completed</a></li>
                </ul>
            </footer>
        </div>
    </section>
</body>
<script src="../js/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            todoVal: '',
            editIndex: -1,
            beforeEidt: '',
            taskList: []
        },
        methods: {
            addTodo() {
                this.taskList.push({
                    title: this.todoVal,
                    id: Date.now() + Math.random(),
                    checked: false
                })
                this.todoVal = '';
            },
            deleteTodo(index) {
                this.taskList.splice(index, 1);
            },
            editTodo(index) {
                this.beforeEidt = this.taskList[index].title;
                this.editIndex = index;
                this.$nextTick(() => {
                    this.$refs['editInp'][index].focus();
                })
            },
            editDone(item){
                if( item.title === '' ){
                    let posIndex = this.taskList.findIndex( option => option === item );
                    this.deleteTodo(posIndex)
                }
                this.editIndex = -1;
            },
            handleEscTodo(item) {
                item.title = this.beforeEidt;
                this.editIndex = -1;
            }
        },
        computed: {
            isCheckedAll: {
                get() {
                    return this.taskList.every(item => {
                        return item.checked;
                    })
                },
                set(value) {
                    this.taskList.forEach(item => {
                        item.checked = value;
                    })
                }
            },
            unCheckedLen(){
                return this.taskList.filter( item => item.checked === false ).length;
            }
        }
    });
    /*
        {
            id: Date.now() + Math.random(),
            title: '假数据1',
            checked: false
        }, {
            id: Date.now() + Math.random(),
            title: '假数据2',
            checked: false
        }
    */
</script>

</html>